:root {
  --branco: #FFFFFF;
  --cinza: #667085;
  --cinza-escuro: #3A404E;
  --vermelho: #8E2424;
  --vermelho-claro: rgba(142, 36, 36, 0.05);

  --leve: 400;
  --medio: 500;
  --pesado: 600;
}

body{
  font-family: "Inter", sans-serif;
  font-weight: var(--medio);
}

/*Cabeçalho*/

.cab {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}

.empresa-cab, .menu-cab, .espaco-cab, .botoes-cab {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.logo-cab {
  margin: 0 8px 0 0;
}

.titulo-cab {
  color: var(--cinza-escuro);
  font-size: 18px;
  line-height: 24px;
}

.espaco {
  width: 100px;
}

.menu-cab a{
  color: var(--cinza);
  padding: 0 32px 0 0;
  font-size: 16px;
  text-decoration: none;
  transition: .3s;
}

.menu-cab a:hover{
  color: var(--vermelho);
  text-decoration: underline;
}

.bt {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  line-height: 44px;
  transition: 0.1s;
  width: 112px;
}

.bt:hover {
  transform: scale(1.08);
}

.bt-entrar {
  background-color: var(--branco);
  color: var(--cinza);
  margin: 0 4px 0 0;
}

.bt-cadastrar {
  background-color: var(--vermelho);
  color: var(--branco);
}

/*Sobre nós*/

.sobrenos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 96px 0px;
  gap: 24px;
}

.sobrenos span {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--pesado);
  color: var(--vermelho);
}

.sobrenos h1 {
  font-size: 48px;
  line-height: 60px;
  font-weight: var(--pesado);
  letter-spacing: -0.02em;
}

.sobrenos p {
  font-size: 20px;
  line-height: 30px;
  width: 791px;
  font-weight: var(--leve);
  color: var(--cinza);
}

/*Seções Métricas*/

.secao-metrica {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 0px 96px;
  gap: 64px;
}

.metrica1, .metrica2, .metrica3, .metrica4 {
  width: 280px;
  align-items: center;
}

.secao-metrica h1 {
  font-size: 60px;
  line-height: 72px;
  font-weight: var(--pesado);
  color: var(--vermelho);
  padding-bottom: 12px;
}

.secao-metrica h2 {
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 8px;
}

.secao-metrica p {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--leve);
  color: var(--cinza);
}

.vagas-talentos {
  align-items: center;
  text-align: center;
}

.talentos img {
  margin: 64px auto;
}

.talentos span {
  font-size: 14px;
  line-height: 20px;
  color: var(--vermelho);
  background-color: var(--vermelho-claro);
  border-radius: 16px;
  padding: 4px 12px;
}

.talentos h1 {
  margin: 20px auto;
  font-size: 36px;
  line-height: 44px;
  font-weight: var(--pesado);
}

.talentos p {
  font-size: 20px;
  line-height: 30px;
  font-weight: var(--leve);
  color: var(--cinza);
}



